
div {
    width: 400px;
    height: 200px;
    background-color: rgb(255, 5, 243);
    margin-top: 20px;
    display: inline-block;
}
.block1 {
    background-color: skyblue;
    width: 555 px;
    height: 230 px;
    margin-top: 22px;
    border: 3px solid black;
    display: inline-block 400px;
}
#block2 {
    background-color: rgb(163, 196, 18);
    width: 600 px;
    height: 430 px;
    margin-top: 52px;
    border: 3px solid rgb(181, 41, 41);
    display: inline-block 500 px;
}
.block3 {
    background-color: rgb(63, 18, 18);
    width: 755 px;
    height: 130 px;
    margin-top: 22px;
    border: 3px solid rgb(0, 0, 0);
    display: inline-block 600px;
}

.block1 img{
    width: 555px;
    height: 230px;
}
.block2 img{
    width: 400px;
}
